.mount 
{
    width: 200px;
    height: 200px;

    padding: 7px;
    box-sizing: border-box;

    background: url("./images/pic_with_mount.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mount__border 
{
    background: #000;
    width: 100%;
    height: 100%;
}